:root {
  /* Colors */

  --color-brand: #ffe81f;
  --color-background: #000000;

  --color-grey-4: #191919;
  --color-grey-3: #4c4c4c;
  --color-grey-2: #b2b2b2;
  --color-grey-1: #e5e5e5;

  /* Typography */

  --font-family-title: "Montserrat" sans-serif;
  --font-family-text: "Open Sans" sans-serif;

  --title-size: 24px;

  --text-size-1: 16px;
  --text-size-2: 14px;
  --text-size-3: 12px;
}
